{% extends "layout.html" %}

{% set title = translation.page.exportOriginCountry.question %}

{% block pageTitle %}
{% if errors %}{{translation.common.errors.error}}: {% endif %}{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% if tradeDetails %}
{% set jsBackButton = " js-back-button" %}
{% else %}
{% set jsBackButton = "" %}
{% endif %}

{% block content %}

{{ govukBackLink({
  text: translation.common.buttons.back,
  href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9" + jsBackButton,
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

 <div class="govuk-grid-row" id="main-content">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: translation.common.errors.problem,
        errorList: [
          {
            text: errors.text,
            href: "#exportOriginCountry"
          }
        ]
      }) }}
    {% endif %}

    <form action="{{Route.exportOriginCountry}}?{{queryParams}}" method="POST" novalidate>

      {{ govukRadios({
          idPrefix: 'exportOriginCountry',
          name: 'originCountry',
          errorMessage: errors,
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          hint: {
            html: translation.page.exportOriginCountry.hint
          },
          items: [
            {
              value: OriginCountry.GB,
              text: translation.page.exportOriginCountry.GB,
              checked: (originCountry == OriginCountry.GB)
            },
            {
              value: OriginCountry.XI,
              text: translation.page.exportOriginCountry.XI,
              checked: (originCountry == OriginCountry.XI)
            }
          ]
        }) }}

      {{ govukButton({
          text: translation.common.buttons.continue
        }) }}

      {% if isEdit %}
        <input type="hidden" name="isEdit" value="{{isEdit}}">
        <input type="hidden" name="original" value="{{original}}">
      {% endif %}

      {% if tradeDetails %}
        <input type="hidden" name="tradeDetails" value="{{tradeDetails}}">
      {% endif %}

      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
  </div>
</div>

{% endblock %}
