{% extends "layout.html" %}

{% set title = translation.page.manageThisTrade.subsidary['check-licences-certificates-and-other-restrictions'] %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{% set commoditySummaryDetails %}
  {% include "../../../views/includes/commodity-summary.html" %}
{% endset %}

{{ govukBackLink({
  text: translation.common.buttons.back,
  href:  "/manage-this-trade?" + queryParams | clearAdditionalQuestions(questionsId),
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

{% if show999l %}
{% set showSdsContent = '#### ' + translation.page.manageThisTrade['999L'].header + '\n\n' + translation.page.manageThisTrade['999L'].body %}
{% else %}
{% set showSdsContent = '' %}
{% endif %}

<div class="govuk-grid-row" id="main-content">
  <div class="govuk-grid-column-two-thirds">
    <p class="print-disclaimer" aria-hidden="true">{{ translation.page.manageThisTrade.printDisclaimer }}</p>
    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ govukDetails({
      summaryText: translation.page.manageThisTrade.commoditySummaryDetailsLink,
      html: commoditySummaryDetails
    }) }}

  </div>
</div>
<div class="govuk-grid-row govuk-main-wrapper">
  <div class="govuk-grid-column-two-thirds">

    {{ translation.page.manageThisTrade.checkLicensesAndCertificates[userType](showSdsContent) | renderMarkdown | safe }}
    {% if complexMeasuresAsHtml %}
      {{ complexMeasuresAsHtml | safe }}
    {% else %}
      {{ translation.page.manageThisTrade.noMeasuresOrRestrictions(country) | safe }}
    {% endif %}

    <a href="#" role="button" class="govuk-link gem-c-print-link__link govuk-link--no-visited-state govuk-!-margin-top-4 hideNoJs printButton" data-module="govuk-button" id="printButton">
      {{ translation.page.manageThisTrade.print }}
    </a>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "../../../views/includes/truncate-scripts.html" %}
{% endblock %}
