.idea
.env
*.iml
logs*
*.log
npm-debug.log*
coverage
node_modules
dist
.DS_Store
public
package-lock.json

# GOV.UK Assets
sass/all-ie8.scss
sass/all.scss
sass/_base.scss
sass/components/**
sass/core/**
sass/helpers/**
sass/objects/**
sass/overrides/**
sass/settings/**
sass/tools/**
sass/utilities/**
sass/vendor/**
