{% extends "layout.njk" %}

{% set title = translation.page.checkYourAnswers.title %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-xl govuk-!-margin-bottom-20">{{title}}</h1>

   {{ govukSummaryList(checkYourAnswersRowsHtml) }}

    {{ govukWarningText({
      text: translation.page.checkYourAnswers.warning,
      iconFallbackText: translation.common.accessibility.warning
    }) }}

   {{ govukButton({
     text: translation.common.buttons.continue,
     href: nextPage + "?" + queryParams  | removeParam(['original']),
     classes: "govuk-!-margin-top-6"
   }) }}

  {% include "../../../views/includes/print-button.njk" %}

 </div>
</div>

{% endblock %}
