{% extends "layout.html" %}

{% set title =  translation.page.manageThisTrade.summaryImport %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}
{{ govukBackLink({
  text: translation.common.buttons.back,
  href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9 js-back-button",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

{% set commoditySummaryDetails %}
  {% include "../../../views/includes/commodity-summary.html" %}
{% endset %}

<div id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {{ govukDetails({
        summaryText: translation.page.manageThisTrade.commoditySummaryDetailsLink,
        html: commoditySummaryDetails
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">

      {{ prohibitionsAsHtml | safe }}

      <h3 class="govuk-heading-m">{{ translation.page.prohibitions.header }}</h3>
      <p class="govuk-body-m">
        {{ translation.page.prohibitions.p1 }}
        <br /><br />
        {{ translation.page.prohibitions.link | safe }}
      </p>

    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "../../../views/includes/truncate-scripts.html" %}
{% endblock %}
