{% extends "layout.html" %}

{% set title = translation.page.exportCommoditySearch.question %}

{% block pageTitle %}
{% if errors %}{{translation.common.errors.error}}: {% endif %}{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{% if original and errors %}
{% set getQueryParams = originalQueryParams %}
{% else %}
{% set getQueryParams = queryParams %}
{% endif %}

{% if tradeDetails %}
{% set jsBackButton = " js-back-button" %}
{% else %}
{% set jsBackButton = "" %}
{% endif %}

{{ govukBackLink({
  text: translation.common.buttons.back,
  href: previousPage + "?" + getQueryParams,
  classes: "govuk-!-margin-bottom-9" + jsBackButton,
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

 <div class="govuk-grid-row" id="main-content">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: translation.common.errors.problem,
        errorList: [
          {
            text: errors.text,
            href: "#exportCommoditySearch"
          }
        ]
      }) }}
    {% endif %}

    <form action="/search" method="GET" novalidate>

      <h1 class="govuk-label--xl govuk-!-margin-top-0">{{ title }}</h1>

      {{ govukDetails({
        summaryText: translation.page.exportCommoditySearch.summaryText,
        html: translation.page.exportCommoditySearch.summaryDetails,
        classes: 'govuk-!-margin-top-4'
      }) }}

      {{ govukInput({
          label: {
            text: translation.page.exportCommoditySearch.label,
            isPageHeading: false,
            classes: 'govuk-label--s'
          },
          id: 'exportCommoditySearch',
          name: 'commodity',
          value: commodity,
          errorMessage: errors,
          classes: 'govuk-!-width-full',
          spellcheck: false
        }) }}


      {{ govukButton({
          text: translation.common.buttons.continue
        }) }}

    {% if isEdit %}
      <input type="hidden" name="original" value="{{original}}">
    {% endif %}
    {% if tradeDetails %}
      <input type="hidden" name="tradeDetails" value="{{tradeDetails}}">
    {% endif %}
      <input type="hidden" name="tradeType" value="{{tradeType}}">
      <input type="hidden" name="exportGoodsIntent" value="{{exportGoodsIntent}}">
      <input type="hidden" name="exportDeclarations" value="{{exportDeclarations}}">
      <input type="hidden" name="destinationCountry" value="{{destinationCountry}}">
      <input type="hidden" name="originCountry" value="{{originCountry}}">
      <input type="hidden" name="tradeDateDay" value="{{tradeDateDay}}">
      <input type="hidden" name="tradeDateMonth" value="{{tradeDateMonth}}">
      <input type="hidden" name="tradeDateYear" value="{{tradeDateYear}}">
      <input type="hidden" name="exportUserTypeTrader" value="{{exportUserTypeTrader}}">

    {% if additionalCode %}
      <input type="hidden" name="additionalCode" value="{{additionalCode}}">
    {% endif %}

    </form>
  </div>
</div>

{% endblock %}
