{% extends "layout.njk" %}

{% set title = translation.page.identifyUserType.question %}

{% block pageTitle %}
{% if errors %}{{translation.common.errors.error}}: {% endif %}{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: translation.common.errors.problem,
        errorList: [
          {
            text: errors.text,
            href: "#userTypeTrader"
          }
        ]
      }) }}
    {% endif %}

    <form action="{{Route.identifyUserType}}?{{queryParams}}" method="POST" novalidate>

      {{ govukRadios({
          idPrefix: "userTypeTrader",
          name: "userTypeTrader",
          errorMessage: errors,
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: ImportUserTypeTrader.yes,
              text: translation.page.identifyUserType.yes,
              checked: (userTypeTrader == ImportUserTypeTrader.yes)
            },
            {
              value: ImportUserTypeTrader.no,
              text: translation.page.identifyUserType.no,
              checked: (userTypeTrader == ImportUserTypeTrader.no)
            },
            {
              value: ImportUserTypeTrader.neither,
              text: translation.page.identifyUserType.neither,
              checked: (userTypeTrader == ImportUserTypeTrader.neither)
            }
          ]
        }) }}

      {{ govukButton({
          text: translation.common.buttons.continue
        }) }}

      {% if isEdit %}
        <input type="hidden" name="original" value="{{original}}">
        <input type="hidden" name="isEdit" value="{{isEdit}}">
      {% endif %}

      <input type="hidden" name="_csrf" value="{{csrfToken}}">

    </form>
  </div>
</div>

{% endblock %}
