{% extends "layout.njk" %}

{% set title = translation.page.importDate.question %}

{% block head %}
  {% include "includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
{% if errors %}{{translation.common.errors.error}}: {% endif %}{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        {% if errors %}
          {{ govukErrorSummary({
            titleText: translation.common.errors.problem,
            errorList: [
              {
                text: errors.text,
                href: "#importDate-importDate" + errors.idForAnchor
              }
            ]
          }) }}
        {% endif %}

    <form action="{{Route.importDate}}?{{queryParams}}" method="POST" novalidate>

      <h1 class="govuk-label--xl govuk-!-margin-top-0">{{ translation.page.importDate.question }}</h1>

      <p>{{ translation.page.importDate.p1 }}<p>

      {{ govukDateInput({
          id: "importDate",
          errorMessage: errors,
          hint: {
            html: translation.page.importDate.hint
          },
          fieldset: {
            legend: {
              text: translation.page.importDate.question,
              classes: "govuk-visually-hidden"
            }
          },
			items: [
			{
				classes: 'govuk-input--width-2 govuk-input--error' if dateErrors.day else 'govuk-input--width-2',
				label: translation.common.labels.date.day,
				name: "importDateDay",
				value: importDate.day
			},
			{
				classes: 'govuk-input--width-2 govuk-input--error' if dateErrors.month else 'govuk-input--width-2',
				label: translation.common.labels.date.month,
				name: "importDateMonth",
				value: importDate.month
			},
			{
				classes: 'govuk-input--width-4 govuk-input--error' if dateErrors.year else 'govuk-input--width-4',
				label: translation.common.labels.date.year,
				name: "importDateYear",
				value: importDate.year
			}
		]
        }) }}

      {{ govukButton({
        text: translation.common.buttons.continue
      }) }}

      {% if isEdit %}
      <input type="hidden" name="isEdit" value="{{isEdit}}">
      <input type="hidden" name="originalImportDateDay" value="{{originalImportDateDay}}">
      <input type="hidden" name="originalImportDateMonth" value="{{originalImportDateMonth}}">
      <input type="hidden" name="originalImportDateYear" value="{{originalImportDateYear}}">
      {% endif %}
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
{% endblock %}
