<div class="help-with-page border-top govuk-!-margin-top-0">
    <h2 class="govuk-heading-s govuk-!-margin-top-3">{{ translation.common.feedback.getHelp }}</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/customs-international-trade-and-excise-enquiries">{{ translation.common.feedback.general }}</a></li>
      <li><a href="{{ CONTACT_TECHNICAL_HELP }}&referrerUrl={{ currentUrl | urlencode }}">{{ translation.common.feedback.technical }}</a></li>
    </ul>
</div>
