<div class="hideNoJs">
  {{ govukButton({
    text: translation.common.buttons.print,
    href: '#',
    classes: "govuk-link gem-c-print-link__link govuk-link--no-visited-state govuk-!-margin-top-4 printButton",
    attributes: {
      id: "printButton"
    }
  }) }}
</div>
