{% extends "layout.html" %}

{% set title = translation.page.identifyUserType.question %}

{% block pageTitle %}
{% if errors %}{{translation.common.errors.error}}: {% endif %}{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: translation.common.buttons.back,
  href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

 <div class="govuk-grid-row" id="main-content">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: translation.common.errors.problem,
        errorList: [
          {
            text: errors.text,
            href: "#userTypeTrader"
          }
        ]
      }) }}
    {% endif %}

    <form action="/import-declarations" method="get" novalidate>

      {{ govukRadios({
          idPrefix: "userTypeTrader",
          name: "userTypeTrader",
          errorMessage: errors,
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: true,
              text: translation.page.identifyUserType.yes,
              checked: (userTypeTrader == "true")
            },
            {
              value: false,
              text: translation.page.identifyUserType.no,
              checked: (userTypeTrader == "false")
            }
          ]
        }) }}

      {{ govukButton({
          text: translation.common.buttons.continue
        }) }}

      <input type="hidden" name="tradeType" value="{{tradeType}}">
      <input type="hidden" name="goodsIntent" value="{{goodsIntent}}">
      
    </form>
  </div>
</div>

{% endblock %}
