{% extends "layout.html" %}

{% set title = translation.page.importDate.question %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
{% if errors %}{{translation.common.errors.error}}: {% endif %}{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% if (originalImportDateDay and errors) or (originalImportDateMonth and errors) or (originalImportDateYear and errors) %}
{% set getBackLink = "manage-this-trade?" + originalQueryParams %}
{% else %}
{% set getBackLink = previousPage + "?" + queryParams %}
{% endif %}

{% block content %}

{{ govukBackLink({
  text: translation.common.buttons.back,
  href: getBackLink,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

<div class="govuk-grid-row" id="main-content">
  <div class="govuk-grid-column-two-thirds">
        {% if errors %}
          {{ govukErrorSummary({
            titleText: translation.common.errors.problem,
            errorList: [
              {
                text: errors.text,
                href: "#importDate-importDate" + errors.idForAnchor
              }
            ]
          }) }}
        {% endif %}

    <form action="/import-goods" method="get" novalidate>

      <h1 class="govuk-label--xl govuk-!-margin-top-0">{{ translation.page.importDate.question }}</h1>

      <p>{{ translation.page.importDate.p1 }}<p>

      {{ govukDetails({
        summaryText: translation.page.importDate.regulatoryControls,
        html: translation.page.importDate.regulatoryControlsDetails
      }) }}

      {{ govukDateInput({
          id: "importDate",
          errorMessage: errors,
          hint: {
            html: translation.page.importDate.hint
          },
          fieldset: {
            legend: {
              text: translation.page.importDate.question,
              classes: "govuk-visually-hidden"
            }
          },
			items: [
			{
				classes: 'govuk-input--width-2 govuk-input--error' if dateErrors.day else 'govuk-input--width-2',
				label: "Day",
				name: "importDateDay",
				value: importDate.day
			},
			{
				classes: 'govuk-input--width-2 govuk-input--error' if dateErrors.month else 'govuk-input--width-2',
				label: "Month",
				name: "importDateMonth",
				value: importDate.month
			},
			{
				classes: 'govuk-input--width-4 govuk-input--error' if dateErrors.year else 'govuk-input--width-4',
				label: "Year",
				name: "importDateYear",
				value: importDate.year
			}
		]
        }) }}

      {{ govukButton({
        text: translation.common.buttons.continue
      }) }}

      {% include "includes/cancel-change-button.html" %}

      <input type="hidden" name="tradeType" value="{{tradeType}}">
      <input type="hidden" name="goodsIntent" value="{{goodsIntent}}">
      <input type="hidden" name="userTypeTrader" value="{{userTypeTrader}}">
      <input type="hidden" name="importDeclarations" value="{{importDeclarations}}">
      <input type="hidden" name="destinationCountry" value="{{destinationCountry}}">
      <input type="hidden" name="originCountry" value="{{originCountry}}">

      {% if isEdit or (originalImportDateDay and errors) or (originalImportDateMonth and errors) or (originalImportDateYear and errors) %}
      <input type="hidden" name="isEdit" value="{{isEdit or ((originalImportDateDay and errors) or (originalImportDateMonth and errors) or (originalImportDateYear and errors)) | length > 0}}">
      <input type="hidden" name="commodity" value="{{commodity}}">
      {% if additionalCode %}
      <input type="hidden" name="additionalCode" value="{{additionalCode}}">
      {% endif %}
      <input type="hidden" name="originalImportDateDay" value="{{originalImportDateDay}}">
      <input type="hidden" name="originalImportDateMonth" value="{{originalImportDateMonth}}">
      <input type="hidden" name="originalImportDateYear" value="{{originalImportDateYear}}">
      {% endif %}

    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
{% endblock %}
