{% extends "layout.html" %}

{% set title = translation.page.checkInformationAndDocuments.title %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{% set tradeDetails %}
  {% include "../../common/tradeDetails/trade-details.partial.njk" %}
{% endset %}

{{ govukBackLink({
  text: translation.common.buttons.back,
    href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

<div class="govuk-grid-row" id="main-content">
 <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-xl govuk-!-margin-bottom-20">
     <span class="govuk-caption-xl">{{ translation.page.checkInformationAndDocuments.caption }}</span>
     {{title}}
   </h1>

   {{ govukDetails({
     summaryText: translation.common.tradeDetails.detailsLink,
     html: tradeDetails
   }) }}

   <h2 class="govuk-heading-m">{{ translation.page.checkInformationAndDocuments.commercialDocuments }}</h2>
   <p>{{ translation.page.checkInformationAndDocuments.commercialDocumentsP1 | safe }}</p>
   <p>{{ translation.page.checkInformationAndDocuments.commercialDocumentsP2 }}</p>
   <ul  class="govuk-list govuk-list--bullet">
     <li>{{ translation.page.checkInformationAndDocuments.commercialDocumentsL1 }}</li>
     <li>{{ translation.page.checkInformationAndDocuments.commercialDocumentsL2 }}</li>
     <li>{{ translation.page.checkInformationAndDocuments.commercialDocumentsL3 }}</li>
   </ul>
   <p>{{ translation.page.checkInformationAndDocuments.commercialDocumentsP3 | safe }}</p>

   <h2 class="govuk-heading-m">{{ translation.page.checkInformationAndDocuments.shippingDocuments }}</h2>
   <p>{{ translation.page.checkInformationAndDocuments.shippingDocumentsP1 }}</p>
   <ul  class="govuk-list govuk-list--bullet">
     <li>{{ translation.page.checkInformationAndDocuments.shippingDocumentsL1 }}</li>
     <li>{{ translation.page.checkInformationAndDocuments.shippingDocumentsL2 }}</li>
   </ul>

   <br />
   {{ govukButton({
     text: translation.common.buttons.backToResults,
     href: previousPage + "?" + queryParams,
     classes: "govuk-!-margin-top-6"
   }) }}
 </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "../../../views/includes/truncate-scripts.html" %}
{% endblock %}
