{% extends "layout.html" %}

{% set title = translation.page.movingGoodsFromNorthernIrelandToAnEUCountry.title %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: translation.common.buttons.back,
    href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

<div class="govuk-grid-row" id="main-content">
 <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-xl govuk-!-margin-bottom-20">{{title}}</h1>
   <p>{{ translation.page.movingGoodsFromNorthernIrelandToAnEUCountry.caption }}</p>
    <ul  class="govuk-list">
      {% for link in translation.page.movingGoodsFromNorthernIrelandToAnEUCountry.guidanceLinks %}
      <li>
        <a href="{{link.url}}" target="_blank" rel="noopener noreferrer">
          {{ link.text }}<span class="govuk-visually-hidden"> {{ translation.common.accessibility.opensNewTab }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
 </div>
</div>

{% endblock %}
