{% extends "layout.njk" %}

{% set title = translation.page.movingGoodsFromNorthernIrelandToAnEUCountry.title %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-xl govuk-!-margin-bottom-20">{{title}}</h1>
   <p>{{ translation.page.movingGoodsFromNorthernIrelandToAnEUCountry.caption }}</p>
    <ul  class="govuk-list">
      {% for link in translation.page.movingGoodsFromNorthernIrelandToAnEUCountry.guidanceLinks %}
      <li>
        <a href="{{link.url}}" target="_blank" rel="noopener noreferrer">
          {{ link.text }}<span class="govuk-visually-hidden"> {{ translation.common.accessibility.opensNewTab }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
 </div>
</div>

{% endblock %}
