{% extends "layout.html" %}

{% set title = translation.page.exportCheckLicencesAndRestrictions.title %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: translation.common.buttons.back,
  href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

{% set tradeDetails %}
  {% include "../../common/tradeDetails/trade-details.partial.njk" %}
{% endset %}

<div class="govuk-grid-row" id="main-content">
  <div class="govuk-grid-column-two-thirds">
    <p class="print-disclaimer" aria-hidden="true">{{ translation.page.manageThisTrade.printDisclaimer }}</p>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ translation.page.exportCheckLicencesAndRestrictions.caption }}</span>
      {{ title }}
    </h1>

    {{ govukDetails({
      summaryText: translation.common.tradeDetails.detailsLink,
      html: tradeDetails
    }) }}

  </div>
</div>
<div class="govuk-grid-row govuk-main-wrapper">
  <div class="govuk-grid-column-two-thirds">

    {% if complexMeasuresAsHtml %}

    {% include "./rules-that-apply-to-your-goods.njk" %}

    {{ complexMeasuresAsHtml | safe }}

    {% else  %}
    <p>{{ translation.page.exportCheckLicencesAndRestrictions.rulesThatApplyToYourGoods.noMeasures }}</p>
    {% endif  %}

    {{ govukButton({
      text: translation.common.buttons.backToResults,
      href: previousPage + "?" + queryParams,
      classes: "govuk-!-margin-top-6"
    }) }}

    <br />

    {{ govukButton({
      text: translation.page.manageThisTrade.print,
      href: '#',
      classes: "govuk-link gem-c-print-link__link govuk-link--no-visited-state govuk-!-margin-top-4 hideNoJs printButton",
      attributes: {
        id: "printButton"
      }
    }) }}

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "../../../views/includes/truncate-scripts.html" %}
{% endblock %}
