{% extends "layout.html" %}

{% set title = translation.page.exportProhibitionsAndRestrictions.title(destinationCountryName) %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{% set tradeDetails %}
  {% include "../../common/tradeDetails/trade-details.partial.njk" %}
{% endset %}

{{ govukBackLink({
  text: translation.common.buttons.back,
    href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

<div class="govuk-grid-row" id="main-content">
 <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ title }}</h1>

   {{ govukDetails({
     summaryText: translation.common.tradeDetails.detailsLink,
     html: tradeDetails
   }) }}

   {{ restrictions | safe }}

   <h2 class="govuk-heading-m">{{ translation.page.exportProhibitionsAndRestrictions.prohibitionsAndRestrictions }}</h2>

   <p>{{ translation.page.exportProhibitionsAndRestrictions.p1 }}</p>

   <p>
     <a href="https://www.gov.uk/government/publications/uk-trade-tariff-export-prohibitions-and-restrictions/uk-trade-tariff-export-prohibitions-and-restrictions" target="_blank" rel="noopener noreferrer" class="govuk-link">
     {{ translation.page.exportProhibitionsAndRestrictions.link }}
    </a>
  </p>

   <br />
   {{ govukButton({
     text: translation.page.manageThisTrade.print,
     href: '#',
     classes: "govuk-link gem-c-print-link__link govuk-link--no-visited-state govuk-!-margin-top-4 hideNoJs printButton",
     attributes: {
       id: "printButton"
     }
   }) }}
 </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "../../../views/includes/truncate-scripts.html" %}
{% endblock %}
