{% extends "layout.html" %}

{% set title = translation.page.manageThisTrade.subsidary['check-what-information-and-documents-you-may-need'] %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{% set commoditySummaryDetails %}
  {% include "../../../views/includes/commodity-summary.html" %}
{% endset %}

{{ govukBackLink({
  text: translation.common.buttons.back,
  href:  "/manage-this-trade?" + queryParams,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    id: "back-link",
    rel: "noreferrer noopener"
  }
}) }}

<div class="govuk-grid-row" id="main-content">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ translation.page.manageThisTrade.readyToImport }}</span>
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ govukDetails({
      summaryText: translation.page.manageThisTrade.commoditySummaryDetailsLink,
      html: commoditySummaryDetails
    }) }}

  </div>
</div>
<div class="govuk-grid-row govuk-main-wrapper">
  <div class="govuk-grid-column-two-thirds">

    {{ translation.page.manageThisTrade.whichDocumentsAreNeeded[userType] | renderMarkdown | safe }}
    
    <a href="#" role="button" class="govuk-link gem-c-print-link__link govuk-link--no-visited-state govuk-!-margin-top-4 hideNoJs printButton" data-module="govuk-button" id="printButton">
      {{ translation.page.manageThisTrade.print }}
    </a>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "../../../views/includes/truncate-scripts.html" %}
{% endblock %}
