
{% from "govuk/components/tag/macro.njk"                  import govukTag %}

{% macro statusTag(params) %}

{% if params.state == 'VIEWED' %}
{{govukTag({
    text: params.translation.statusTags.viewed,
    classes: "govuk-tag app-task-list__tag",
    attributes: {
      id: params.id
    }
  })}}
{% elif params.state == 'TO_VIEW' %}
{{govukTag({
    text: params.translation.statusTags.toView,
    classes: "govuk-tag govuk-tag--grey app-task-list__tag",
    attributes: {
      id: params.id
    }
  })}}
{% elif params.state == 'NOT_REQUIRED' %}
{{govukTag({
    text: params.translation.statusTags.notRequired,
    classes: "govuk-tag govuk-tag--inactive app-task-list__tag",
    attributes: {
      id: params.id
    }
  })}}
{% else %}
{{govukTag({
    text: params.translation.statusTags.cannotViewYet,
    classes: "govuk-tag govuk-tag--grey app-task-list__tag",
    attributes: {
      id: params.id
    }
  })}}
{% endif %}

{% endmacro %}
