{% extends "layout.html" %}

{% set title = translation.page.exportCheckDeclarations.title %}

{% block pageTitle %}
{{title}} - {{serviceName}} - {{titleSuffix}}
{% endblock %}

{% block content %}

{% set tradeDetails %}
  {% include "../../common/tradeDetails/trade-details.partial.njk" %}
{% endset %}

{{ govukBackLink({
  text: translation.common.buttons.back,
    href: previousPage + "?" + queryParams,
  classes: "govuk-!-margin-bottom-9",
  attributes: {
    rel: "noreferrer noopener",
    "aria-label": translation.common.buttons.backAriaLabel
  }
}) }}

<div class="govuk-grid-row" id="main-content">
 <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-xl govuk-!-margin-bottom-20">{{title}}</h1>

  {{ govukDetails({
     summaryText: translation.common.tradeDetails.detailsLink,
     html: tradeDetails
   }) }}

  <h3 class="govuk-heading-m">{{ translation.page.exportCheckDeclarations.makingDeclaration }}</h3>
  <p>{{ translation.page.exportCheckDeclarations.makingDeclarationP1 | safe }}</p>

  <h3 class="govuk-heading-m">{{ translation.page.exportCheckDeclarations.exportDeclarations }}</h3>
  <p>{{ translation.page.exportCheckDeclarations.exportDeclarationsP1  | safe}}</p>

  <h3 class="govuk-heading-m">{{ translation.page.exportCheckDeclarations.exitSummary }}</h3>
  <p>{{ translation.page.exportCheckDeclarations.exitSummaryP1 | safe }}</p>
  <p>{{ translation.page.exportCheckDeclarations.exitSummaryP2 }}</p>
  
  <h3 class="govuk-heading-m">{{ translation.page.exportCheckDeclarations.submitDeclaration }}</h3>
  <p>{{ translation.page.exportCheckDeclarations.submitDeclarationP1 }}</p>
  <p>{{ translation.page.exportCheckDeclarations.submitDeclarationP2 | safe }}</p>
  {{ govukInsetText({
      html: translation.page.exportCheckDeclarations.submitDeclarationP3
    }) }}
    
   <br />
   {{ govukButton({
     text: translation.common.buttons.backToResults,
     href: previousPage + "?" + queryParams,
     classes: "govuk-!-margin-top-6"
   }) }}
 </div>
</div>

{% endblock %}

{% block pageScripts %}
  {% include "../../../views/includes/truncate-scripts.html" %}
{% endblock %}

